<div class="mt-5 mr-12">
    <input type="search" name="buscador"
        class="w-full rounded-md py-2 px-4 border border-gray-300 focus:outline-none focus:border-indigo-500"
        placeholder="Filtrar por palabra clave o campo" />

    <div class="overflow-x-auto mt-4">
        <table class="min-w-full bg-white dark:bg-gray-800">
            <thead>
                <tr
                    class="text-xs text-gray-500 font-semibold tracking-wide text-left uppercase border-b dark:border-gray-700 bg-gray-100 dark:bg-gray-700">
                    <th></th>
                    <th class="border-r border-gray-600 ">Título</th>
                    <th class="px-4 py-3">Estado</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let task of tasks">
                    <tr class="bg-gray-50 dark:bg-gray-800 text-white">
                        <td class="border-b border-gray-600 text-center">1</td>
                        <td class="text-left text-sm border-r border-b border-gray-600">
                            <div class="flex items-center">
                                <input class="w-full bg-transparent py-1 outline-none" type="text"
                                    [disabled]="editingTaskId !== task.id"
                                    [ngClass]="{'bg-blue-100 text-blue-900 rounded' : editingTaskId === task.id}"
                                    [(ngModel)]="task.text" (focus)="inputValue = task.text"
                                    (ngModelChange)="inputValue = $event" />
                                <i *ngIf="editingTaskId !== task.id"
                                    class="mx-5 cursor-pointer hover:text-blue-300 fas fa-pencil-alt"
                                    (click)="enableInput(task)"></i>
                                <div *ngIf="editingTaskId === task.id" class="flex items-center gap-3 mr-2 ml-2">
                                    <i class="cursor-pointer hover:text-blue-300 fas fa-times fa-lg"
                                        (click)="cancelar(task)"></i>
                                    <i class="cursor-pointer hover:text-blue-300 fas fa-check fa-lg"
                                        (click)="editar(task)"></i>
                                </div>
                            </div>
                        </td>
                        <td class="px-2 py-3 border-b border-gray-600">
                            <select [(ngModel)]="task.status" (ngModelChange)="opcionSeleccionada = $event" (change)="selectOption()" class="w-full bg-transparent">
                                <option [value]="task.status" selected hidden>{{task.status}}</option>
                                <option class="text-black" value="Todo">Todo</option>
                                <option class="text-black" value="In Progress">In Progress</option>
                                <option class="text-black" value="Done">Done</option>
                            </select>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>