<div class="mt-5 mr-12">
    <input [(ngModel)]="filtrarClave" type="search" name="buscador"
        class="w-full rounded-md py-2 px-4 border text-white bg-gray-900 border-gray-500 focus:outline-none focus:border-indigo-500"
        placeholder="Buscar por título" />

    <div class="overflow-x-auto mt-4">
        <table class="min-w-full bg-gray-900 text-white border border-gray-800 shadow-md rounded-lg">
            <thead>
                <tr
                    class="text-sm text-gray-300 font-semibold tracking-wide text-left uppercase border-b border-gray-600">
                    <th></th>
                    <th class="border-r border-gray-600">Título</th>
                    <th class="px-4 py-3">Estado</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let task of filtrarDatos(); let i = index">
                    <tr class="bg-gray-800">
                        <td class="border-b border-gray-600 text-center pr-4 md:pr-0">{{i + 1}}</td>
                        <td class="text-left text-sm border-r border-b border-gray-600">
                            <div class="flex items-center">
                                <input class="w-full bg-transparent py-1 outline-none text-white" type="text"
                                    [disabled]="editingTaskId !== task.id"
                                    [ngClass]="{'border bg-gray-900 rounded' : editingTaskId === task.id}"
                                    [(ngModel)]="editionIndex === i ? inputValue : task.text" 
                                    (focus)="inputValue = task.text"
                                    (ngModelChange)="editionIndex === i && (inputValue = $event)" />
                                <i *ngIf="editingTaskId !== task.id"
                                    class="mx-5 cursor-pointer hover:text-blue-400 fas fa-pencil-alt"
                                    (click)="enableInput(task, i)"></i>
                                <div *ngIf="editingTaskId === task.id" class="flex items-center gap-3 mr-2 ml-2">
                                    <i class="cursor-pointer hover:text-blue-400 fas fa-times fa-lg"
                                        (click)="cancelar(task)"></i>
                                    <i class="cursor-pointer hover:text-blue-400 fas fa-check fa-lg"
                                        (click)="editar(task)"></i>
                                </div>
                            </div>
                        </td>
                        <td class="px-2 py-3 border-b border-gray-600">
                            <select [(ngModel)]="task.status" (ngModelChange)="opcionSeleccionada = $event" (change)="actualizarStatus(task)" class="w-full bg-transparent text-white">
                                <option [value]="task.status" selected hidden>{{task.status}}</option>
                                <option class="text-black" value="Todo">Todo</option>
                                <option class="text-black" value="In Progress">In Progress</option>
                                <option class="text-black" value="Done">Done</option>
                            </select>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
