<div *ngIf="visible"
    class="bg-gray-800 h-4/6 xl:w-4/12 lg:w-7/12 md:w-11/12 absolute top-24 xl:left-1/3 lg:left-1/4 text-white">
    <div class="border bottom-2 border-gray-600">
        <header class="flex flex-row justify-between items-center m-8">
            <div class="flex flex-wrap gap-2 :w-1/2">
                <input class="bg-transparent focus:outline-none w-full" type="text" value={{task.text}}
                    [(ngModel)]="editedTaskText" [disabled]="!editable" />
                <div class="flex items-center">
                    <i class="far fa-clock mr-2 text-gray-400"></i>
                    <span class="text-gray-400">{{task.createdDate}}</span>
                </div>
            </div>
            <div *ngIf="!editable" class="flex flex-wrap items-center gap-5 lg:w-1/2 lg:justify-end">
                <button (click)="editar()"
                    class="bg-gray-600 hover:bg-gray-500 font-bold py-1 px-4 rounded transition duration-300 ease-in-out">Editar</button>
                <i class="fas fa-times hover:bg-gray-500 p-2 rounded cursor-pointer" (click)="close()"></i>
            </div>
            <div *ngIf="editable" class="flex gap-5 lg:w-1/2 lg:justify-end font-bold">
                <button (click)="cancelar()"
                    class="bg-gray-600 hover:bg-gray-500 py-1 px-1 rounded transition duration-300 ease-in-out">Cancelar</button>
                <button (click)="guardar()"
                    class="bg-green-600 hover:bg-green-700 py-1 px-2 rounded transition duration-300 ease-in-out">Guardar</button>
            </div>
        </header>
    </div>
    <main class="m-4 flex gap-5">
        <p class="mb-2">Status</p>
        <div class="relative inline-block">
            <div class="flex items-center borderborder-green-600 px-2 rounded-lg text-center cursor-pointer" (click)="toggleOptions()"
                #defaultOption
                [ngClass]="{
                    'bg-green-900 text-green-400' : task.status === 'Todo',
                    'bg-yellow-700 text-orange-400' : task.status === 'In Progress',
                    'bg-purple-700 text-purple-300' : task.status === 'Done'
                }">
                <div class="mr-2">{{task.status}}</div>
            </div>
            <div class="bg-white border border-gray-300 rounded-b-lg shadow-md text-gray-600"
                *ngIf="showOptions" id="options">
                <div class="flex items-center border-b border-gray-300 py-2 px-4 cursor-pointer hover:bg-gray-300" (click)="selectOption('Todo')">
                    <div class="h-4 w-4 rounded-full bg-green-500 mr-2"></div>
                    <div class="flex flex-col">
                        <div class="mr-2">Todo</div>
                    <div class="text-xs text-gray-500">Este artículo no se ha iniciado</div>
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2 px-4 cursor-pointer hover:bg-gray-300" (click)="selectOption('In Progress')">
                    <div class="h-4 w-4 rounded-full bg-orange-500 mr-2"></div>
                    <div class="flex flex-col">
                        <div class="mr-2">In Progress</div>
                    <div class="text-xs text-gray-500">Se está trabajando activamente en esto</div>
                    </div>
                </div>
                <div class="flex items-center border-b border-gray-300 py-2 px-4 cursor-pointer hover:bg-gray-300" (click)="selectOption('Done')">
                    <div class="h-4 w-4 rounded-full bg-purple-700 mr-2"></div>
                    <div class="flex flex-col">
                        <div class="mr-2">Done</div>
                    <div class="text-xs text-gray-500">Esto se ha completado</div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>