<div class="ml-12 relative">
    <app-header></app-header>

    <main class="xl:ml-44 relative">
        <div class="flex items-center mt-12">
            <p>Layout</p>
            <div [ngClass]="{'bg-gray-900 border border-gray-300' : selectLayout === 'Board'}" class=" cursor-pointer hover:bg-gray-900 ml-5 border bg-gray-700 px-5 py-1 text-white font-bold" (click)="cambioLayout('Board')">
                <p>Board</p>
            </div>
            <div [ngClass]="{'bg-gray-900 border border-gray-300' : selectLayout === 'Table'}" class=" cursor-pointer hover:bg-gray-900 border bg-gray-700 px-5 py-1 text-white font-bold" (click)="cambioLayout('Table')">
                <p>Table</p>
            </div>
        </div>

        <ng-container *ngIf="selectLayout === 'Board'">
            <app-board></app-board>
        </ng-container>
        <ng-container *ngIf="selectLayout === 'Table'">
            <app-table></app-table>
        </ng-container>
    </main>

</div>